{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 text-center">
        <h1 class="display-4 mb-4">Welcome to Quora</h1>
        <p class="lead mb-5">A place to share knowledge and better understand the world</p>
        
        {% if not user.is_authenticated %}
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="{% url 'register' %}" class="btn btn-primary btn-lg px-4 gap-3">Sign Up</a>
            <a href="{% url 'login' %}" class="btn btn-outline-secondary btn-lg px-4">Login</a>
        </div>
        {% else %}
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="{% url 'question-list' %}" class="btn btn-primary btn-lg px-4 gap-3">Browse Questions</a>
            <a href="{% url 'question-create' %}" class="btn btn-success btn-lg px-4">Ask Question</a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}